@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    background-color: #777777;
}

ul {
    list-style-type: none;
}

li{
    display: inline;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
}

.style1 {
    border-top: 3px solid #bcbbbb;
}

a {
    padding-bottom: 20px;
    color: #0c0c0c;
}

.image-border {
    border: 2px solid black;
}

.title-logo {
    margin-top: 20px;
}

.title-super {
    font-size: 60px;
}

.text-muted {
    color: #bcbbbb;
}

.text-thin {
    font-weight: 100;
}

.mynav {
    background-color: #484545;
}